//main: ../main.scss

// ------------------------------------------------------------------------------------------
// This file contains all styles related to the banner inner section of the site/application.
// ------------------------------------------------------------------------------------------

.banner-inner {
    .section-subheading {
        margin-top: 15px;
    }

    @media (max-width: 767px) {
        .banner-heading {
            * {
                position: relative;
                z-index: 2;
            }

            .section-heading-bg {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-color: $black;
                opacity: .7;
            }
        }

        .section-subheading {
            font-size: 16px;
        }
    }
}

.banner-brands {
    position: relative;
    overflow: hidden;

    .container {
        position: relative;
        z-index: 2;
    }

    .wrapper {
        position: relative;
        display: flex;
    }

    .banner-heading {
        display: flex;
        flex-direction: column;
        width: 45%;
        padding: 100px 0;
    }

    .banner-image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
        width: 52%;
        height: auto;
        margin: auto;
    }

    @media (max-width: 767px) {
        .container {
            padding: 0;
        }

        .banner-heading {
            position: relative;
            width: 100%;
            padding: 50px 15px;

            // * {
            //     position: relative;
            //     z-index: 2;
            // }
        }

        // .section-heading-bg {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     z-index: 1;
        //     width: 100%;
        //     height: 100%;
        //     background-color: $black;
        //     opacity: .8;
        // }

        .banner-image {
            left: 0;
            width: 100%;
            // left: -10%;
            // width: 170%;
            height: auto;
            margin: auto;
        }
    }

    @media (max-width: 575px) {
        .banner-image {
            // left: 0;
            // width: 100%;
            left: -10%;
            width: 170%;
            height: auto;
            margin: auto;
        }
    }
}

.banner-about {
    position: relative;

    .banner-image {
        width: 100%;
        max-width: 100%;
        min-height: 450px;
        object-fit: cover;
        object-position: center;
    }

    .banner-image-mobile {
        display: none;
    }

    .container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .banner-heading {
        width: 45%;
    }

    @media (max-width: 1199px) {
        .banner-image {
            min-height: 400px;
        }
    }

    @media (max-width: 767px) {
        .banner-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-height: auto;
            height: 100%;
        }

        .banner-image-desktop {
            display: none;
        }
        
        .banner-image-mobile {
            display: block;
        }

        .container {
            position: relative;
            width: 100%;
            padding: 50px 15px;
        }
        
        .banner-heading {
            width: 100%;
        }
    }
}