//main: ../main.scss

// ------------------------------------------------------------------------------------
// This file contains all styles related to the top-navigation of the site/application.
// ------------------------------------------------------------------------------------

main {
    padding-top: 75px;
}

.top-navigation {
    position: fixed;
    top: 0;
    right: initial;
    bottom: initial;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 75px;
    background-color: #fff;
    background-size: cover;
    border-bottom: 1px solid $brand-color;
    opacity: 1;
    transition: .35s ease-in-out all;
  
    .wrapper {
        position: relative;
        z-index: 2;
        box-shadow: none;
        transition: .35s ease-in-out all;
    }
  
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
  
    .logo-image {
        width: auto;
        max-width: 100%;
        height: 100%;
        // max-height: 100px;
        max-height: 60px;
        transition: .3s ease-in-out all;
    }
  
    .logo-link {
        margin: 0;
        padding: 0;
        color: $brand-color;
    
        @include on-event() {
            text-decoration: none;
            outline: none;
        }
    }
    
    .menu-item {
        position: relative;
        display: flex;
        align-items: center;
        // padding: 10px 20px;
        padding: 0;
    }
  
    .navbar {
        // padding: 10px 0;
        padding: 0;
        transition: .35s ease-in-out all;
        
        .navbar-nav {
            margin-left: 30px;

            & > li {
                position: relative;
                padding: 0;

                &::before {
                    content: '';
                    position: absolute;
                    top: initial;
                    right: initial;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background-color: $secondary-color;
                    opacity: 0;
                    transition: .3s ease-in-out all;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }

                    & > ul {
                        top: 100%;
                        opacity: 1;
                        pointer-events: all;
                    }
                }

                & > a {
                    display: flex;
                    align-items: center;
                    padding: 15px 20px;
                    height: 75px;
                    font-family: $font-kumbhsans-black;
                    font-size: 18px;
                    color: $brand-color;
                    text-decoration: none;
                    outline: none;
    
                    &:hover {
                        color: $secondary-color;
                    }
                }

                ul {
                    position: absolute;
                    top: 100%;
                    z-index: 10;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    opacity: 0;
                    pointer-events: none;
                    transition: .3s ease-in-out;

                    a {
                        display: flex;
                        align-items: center;
                        width: 100%;
                        padding: 15px 20px;
                        font-family: $font-kumbhsans-black;
                        font-size: 16px;
                        color: $white;
                        text-decoration: none;
                        outline: none;
                        background-color: $secondary-color;

                        &:hover {
                            background-color: $brand-color;
                        }
                    }
                }
            }

            // .active {
            //     a {
            //         padding: 10px 20px;
            //         color: $white;
            //         background-color: $brand-color;
            //         border-radius: 50px;
            //         pointer-events: none;
            //     }
            // }
        
            // .menu-dropdown {
            //     @include on-event() {
            //         ul {
            //             opacity: 1;
            //             top: 63px;
            //             pointer-events: all;
            //         }
            //     }
        
            //     & > a {
            //         padding-right: 20px;
        
            //         &:before,
            //         &:after {
            //             content: '';
            //             position: absolute;
            //             top: -1px;
            //             bottom: 0;
            //             left: initial;
            //             width: 10px;
            //             height: 3px;
            //             margin: auto;
            //             background-color: $brand-color;
            //             opacity: 1;
            //         }
        
            //         &:before {            
            //             right: 0;
            //             transform: rotate(45deg);
            //         }
        
            //         &:after {
            //             right: -5px;
            //             transform: rotate(-45deg);
            //         }
            //     }
        
            //     ul {
            //         position: absolute;
            //         top: 100%;
            //         z-index: 1;
            //         display: flex;
            //         flex-direction: column;
            //         width: fit-content;
            //         background-color: $brand-color;
            //         box-shadow: 0 5px 10px 0 rgba(0,0,0,.3);
            //         opacity: 0;
            //         pointer-events: none;
            //         transition: .35s ease-in-out all;
        
            //         a {
            //             display: flex;
            //             padding: 12px 20px;
            //             font-size: 14px;
            //             color: #fff;
            //             background-color: $brand-color;
            //             // white-space: nowrap;
                
            //             &:before {
            //                 display: none;
            //             }
                
            //             @include on-event() {
            //                 background-color: $secondary-color;
            //             }
            //         }
            //     }
            // }
        }

        .navbar-social {
            display: flex;
            margin: 0 0 0 20px;
            padding: 0;
            list-style: none;

            .social-item:not(:last-child) {
                margin-right: 15px;
            }

            img {
                position: relative;
                top: 0;
                max-width: 30px;
                transition: .2s ease-in-out all;
            }
        }
    }
}

// .scrolled {
//     .top-navigation {
//         height: auto;

//         .wrapper {
//             box-shadow: 0 -5px 20px 0 rgba(0,0,0,.5);
//         }

//         .logo-image {
//             max-height: 60px;
//         }
    
//         .menu-item {
//             padding: 0 20px;
//         }
//     }
// }

@media (max-width: 1199px) {
    // main {
    //     padding-top: 100px;
    // }

    .top-navigation {
        // height: 100px;

        // .logo-image {
        //     max-height: 80px;
        // }

        .navbar {
            .navbar-nav a {
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 991px) {
    .top-navigation {
        .navbar {
            .navbar-nav {
                margin-left: 20px;
            }

            .navbar-social img {
                max-width: 25px;
            }
        }

        .menu-item {
            padding: 5px 15px;
        }
    }

    // .scrolled {
    //     .top-navigation {
    //         .menu-item {
    //             padding: 0 15px;
    //         }
    //     }
    // }
}

@media (max-width: 767px) {
    main {
        padding-top: 60px;
    }

    .top-navigation {
        // height: 90px;
        height: 60px;

        .logo-image {
            max-height: 40px;
        }

        .navbar-toggler {
            margin: 8px 0 8px auto;
        }

        .navbar-collapse {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
        }

        .navbar {
            .navbar-nav {
                padding: 15px 20px 0;
                margin-left: 0;
                background-color: $brand-color;

                & > li {
                    flex-direction: column;
                    align-items: flex-start;

                    &::before {
                        display: none;
                    }

                    a {
                        height: auto;
                        padding: 5px 0;
                        font-size: 16px;
                        color: $white;
                    }

                    ul {
                        position: relative;
                        top: 0;
                        padding-left: 35px;
                        opacity: 1;
                        pointer-events: all;

                        a {
                            position: relative;
                            width: fit-content;
                            padding: 5px 0;
                            font-family: $font-kumbhsans-bold;
                            font-size: 14px;
                            background-color: transparent;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 14px;
                                left: -25px;
                                width: 15px;
                                height: 2px;
                                background-color: $white;
                                transition: .3s ease-in-out all;
                            }

                            &:hover {
                                color: $secondary-color;

                                &::before {
                                    background-color: $secondary-color;
                                }
                            }
                        }
                    }
                }

                li {
                    padding: 0;
                }
            }

            .navbar-social {
                padding: 5px 20px 20px;
                margin-left: 0;
                background-color: $brand-color;
            }
        }
    }

    // .scrolled {
    //     .top-navigation {
    //         .logo-image {
    //             max-height: 40px;
    //         }

    //         .menu-item {
    //             padding: 7px 0;
    //         }
    //     }
    // }
}


.admin-bar {
    .top-navigation {
        top: 32px;
    }

    @media (max-width: 782px) {
        .top-navigation {
            top: 46px;
        }
    }

    @media (max-width: 600px) {
        &.scrolled .top-navigation {
            top: 0;
        }
    }
}