//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the error 404 page.
// -----------------------------------------------------------------------------

.section-404 {
    padding: 100px 0;

    .button-holder {
        margin-top: 30px;
    }

    @media (max-width: 991px) {
        padding: 80px 0;
    }
    
    @media (max-width: 767px) {
        padding: 50px 0;
    }
}