//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the join our pack page.
// -----------------------------------------------------------------------------

.page-main .page-content .the-content {
    .awsm-job-wrap {
        p, ul, ol, li, span, div {
            font-size: 14px;
        }

        .awsm-filter-item-search {
            width: calc(100% - 500px);

            .awsm-job-search {
                padding: 8px 40px 8px 12px;
                font-size: 14px;
                color: $brand-color;
                border: 1px solid #dddfe3;
                box-shadow: 0 1px 4px 0 rgba(0,0,0,0.05);
            }
        }

        .awsm-filter-items {
            width: auto;
        }

        .awsm-filter-item {
            min-width: 250px;

            .awsm-selectric-items {
                .selected {
                    color: $white;
                    background-color: $brand-color;
                    pointer-events: none;
                }

                // li:hover {
                //     color: $white;
                //     background-color: $secondary-color;
                // }
            }
        }

        .awsm-job-item {
            border-radius: 5px;

            &:hover {
                background-color: $brand-color;

                .awsm-job-post-title,
                .awsm-job-more,
                .awsm-job-more span {
                    color: $white;
                }
            }

            .awsm-job-post-title,
            .awsm-job-more,
            .awsm-job-more span {
                color: $brand-color;
                transition: all .3s ease;
            }

            .awsm-job-post-title {
                font-family: $font-kumbhsans-bold;
            }
        }

        @media (max-width: 991px) {
            .awsm-filter-item-search {
                width: calc(100% - 410px);
            }

            .awsm-filter-item {
                min-width: 200px;
            }
        }

        @media (max-width: 767px) {
            .awsm-filter-item-search {
                width: calc(100% - 56px);
            }

            .awsm-filter-toggle {
                margin-left: 0;

                path {
                    fill: $brand-color;
                    transition: all .3s ease-in-out;
                }

                &.awsm-on {
                    background-color: $brand-color;

                    path {
                        fill: $white;
                    }
                }
            }

            .awsm-filter-items {
                width: calc(100% + 10px);
                margin-left: -5px;
                margin-right: -5px;
            }

            .awsm-filter-item {
                min-width: 50%;
                padding: 10px 15px;

                &:nth-child(1) {
                    float: left;
                }
                
                &:nth-child(2) {
                    float: right;
                }
            }
        }

        @media (max-width: 575px) {
            .awsm-filter-items {
                width: 100%;
            }

            .awsm-filter-item {
                min-width: 100%;
                padding: 10px;

                &:nth-child(1),
                &:nth-child(2) {
                    float: none;
                }
            }
        }
    }
}