//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the our people page.
// -----------------------------------------------------------------------------

.page-our-people {
    .our-people {
        padding: 100px 0;
    }
    
    .section-subheading {
        width: 950px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .section-heading + .section-subheading {
        margin-top: 15px;
    }

    .section-heading + .custom-slider-wrapper,
    .section-subheading + .custom-slider-wrapper,
    .section-heading + .items,
    .section-subheading + .items {
        margin-top: 20px;
    }

    @media (max-width: 1199px) {
        .section-subheading {
            width: 750px;
        }
    }

    @media (max-width: 767px) {
        .latest-news {
            .items,
            .button-holder {
                padding-bottom: 30px;
            }
        }
    }
}