//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the people page.
// -----------------------------------------------------------------------------

.page-people {
    .heading {
        padding: 100px 0;
    }

    .section-subheading {
        width: 950px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .section-heading + .section-subheading {
        margin-top: 20px;
    }
    
    .section-subheading + .section-subheading {
        margin-top: 15px;
    }

    .section-heading + .custom-slider-wrapper,
    .section-subheading + .custom-slider-wrapper,
    .section-heading + .items,
    .section-subheading + .items {
        margin-top: 20px;
    }

    .testimonials {
        border-top: 1px solid $brand-color;
        border-bottom: 1px solid $brand-color;

        .testimonial {
            padding: 80px 0 70px;
            border-top: 1px solid $brand-color;
            border-bottom: 1px solid $brand-color;
    
            &:nth-child(3n + 1) {
                color: $brand-color;
                background-color: $light-grey;

                .wrapper-image {
                    .blob {
                        background-image: url(../assets/images/blob-testimonial-1.png);
                    }
                }
            }
    
            &:nth-child(3n + 2) {
                color: $white;
                background-color: $brand-color;

                .wrapper-image {
                    .blob {
                        background-image: url(../assets/images/blob-testimonial-2.png);
                        filter: brightness(0) invert(1);
                    }
                }
    
                .wrapper-text {
                    .quote-text {
                        color: $white;

                        &::before {
                            filter: brightness(0) invert(1);
                        }
                    }

                    .quote-details span:first-child::before {
                        background-color: $white;
                    }
                }
            }
    
            &:nth-child(3n + 3) {
                color: $brand-color;
                background-color: $white;

                .wrapper-image {
                    .blob {
                        background-image: url(../assets/images/blob-testimonial-3.png);
                    }
                }
            }

            &:nth-child(even) {
                .wrapper-image {
                    order: 2;
                }
    
                .wrapper-text {
                    order: 1;
                    padding-left: 0;
                    padding-right: 50px;
                }
            }

            .wrapper {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
        
            .wrapper-text {
                width: 60%;
                padding-left: 50px;
        
                .quote-text {
                    position: relative;
                    // font-family: $font-kumbhsans-bold;
                    font-family: $font-kumbhsans-medium;
                    color: $brand-color;

                    &::before {
                        content: "";
                        position: absolute;
                        top: -15px;
                        left: 0;
                        width: 40px;
                        height: 30px;
                        background: url(../assets/images/icon-quotes.png) no-repeat center;
                        background-size: contain;
                    }

                    p:first-child {
                        text-indent: 60px;
                    }
        
                    p, li {
                        font-size: 18px;
                        line-height: 1.6;
                    }
        
                    p + p {
                        margin-top: 10px;
                    }
        
                    a {
                        color: $secondary-color;
                    }
        
                    // .button {
                    //     display: flex;
                    //     justify-content: center;
                    //     align-items: center;
                    //     width: fit-content;
                    //     padding: 12px 30px;
                    //     margin-top: 40px;
                    //     font-family: $font-kumbhsans-bold;
                    //     font-size: 18px;
                    //     color: $secondary-color;
                    //     background-color: transparent;
                    //     border: 2px solid $secondary-color;
                    //     border-radius: 50px;
        
                    //     &:hover {
                    //         color: $white;
                    //         background-color: $secondary-color;
                    //         border-color: $secondary-color;
                    //     }
                    // }
                }

                .quote-details {
                    display: inline-block;
                    padding-top: 15px;
                    font-family: $font-kumbhsans-black;
                    font-size: 20px;

                    span {
                        position: relative;

                        &:first-child {
                            padding-left: 35px;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 1px;
                                left: 0;
                                bottom: 0;
                                width: 20px;
                                height: 4px;
                                margin: auto;
                                background-color: $brand-color;
                            }
                        }

                        &:not(:last-child) {
                            &::after {
                                content: ",";
                                position: relative;
                                right: 0;
                            }
                        }
                    }
                }
            }
        
            .wrapper-image {
                width: 40%;
        
                .image-holder {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .blob {
                    content: "";
                    position: absolute;
                    bottom: -10%;
                    left: 0;
                    right: 0;
                    z-index: 1;
                    width: 80%;
                    height: 100%;
                    margin: auto;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
        
                img {
                    position: relative;
                    z-index: 2;
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-height: 100%;
                }
            }
        }
    }

    @media (max-width: 1199px) {
        .section-subheading {
            width: 750px;
        }

        .testimonials {
            .testimonial {
                .wrapper-image {
                    width: 35%;
                }

                .wrapper-text {
                    width: 65%;
                }
            }
        }
    }

    @media (max-width: 991px) {
        .testimonials {
            .wrapper {
                padding: 0 20px;
            }

            .testimonial {
                &:nth-child(3n+2) {
                    .wrapper-text {
                        padding-left: 30px;
                    }
                }

                .wrapper-text {
                    padding-left: 30px;

                    .quote-text {
                        &::before {
                            width: 35px;
                        }
                        
                        p {
                            font-size: 16px;

                            &:first-child {
                                text-indent: 50px;
                            }
                        }
                    }

                    .quote-details {
                        font-size: 18px;

                        span {
                            &:first-child {
                                padding-left: 30px;

                                &::before {
                                    top: 2px;
                                    width: 18px;
                                    height: 3px;
                                }
                            }
                        }
                    }
                }
                
                &:nth-child(even) {
                    .wrapper-text {
                        padding-left: 0;
                        padding-right: 30px;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .testimonials {
            border-width: 2px;

            .testimonial {
                border: none;
            }
        }
    }
}