//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the single brand page.
// -----------------------------------------------------------------------------

.page-single-brand {
    .brand-intro {
        padding: 100px 0;
        // background-color: $light-grey;

        .wrapper {
            width: 800px;
            margin-left: auto;
            margin-right: auto;
            color: $brand-color;
        }

        .wrapper-logo {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .brand-link {
            display: flex;
        }

        .brand-text {
            margin-top: 35px;

            * {
                font-family: $font-kumbhsans-medium;
            }
        }

        .stats {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 40px;
        }

        .stats-item {
            display: flex;
            justify-content: center;
            width: 33.33%;
            padding: 20px;

            .item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            .text-big {
                font-family: $font-kumbhsans-black;
                font-size: 50px;
                color: $secondary-color;
            }

            .text-small {
                font-family: $font-kumbhsans-bold;
                font-size: 14px;
            }

            &:nth-child(2) {
                position: relative;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 2px;
                    // height: calc(100% - 80px);
                    height: 45%;
                    margin: auto;
                    background-color: $light-grey;
                }

                &::before {
                    left: -1px;
                }

                &::after {
                    right: -1px;
                }
            }
        }

        .wrapper-button {
            display: flex;
            justify-content: center;
            margin-top: 40px;
        }

        .button-purple {
            padding: 12px 28px;
            font-size: 16px;
        }
    }
}