//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the single job post.
// -----------------------------------------------------------------------------

.single-awsm_job_openings {
    .page-content {
        padding: 80px 20px;

        .container {
            // max-width: 1000px;
            max-width: 1320px;
        }

        .awsm-job-single-wrap {
            margin-bottom: 0;
        }

        .awsm-col-2 {
            .awsm-job-content {
                // width: 65%;
                width: calc(100% - 400px);
                padding-bottom: 0;
            }

            .awsm-job-form {
                // width: 35%;
                width: 400px;
            }
        }

        .awsm-job-specifications-container {
            display: none;
            margin-bottom: 30px;
        }

        .awsm-job-specification-item>[class^=awsm-job-icon-] {
            display: inline-block;
            width: 18px;
            text-align: center;
        }

        .awsm-job-specification-term {
            pointer-events: none;
        }

        .awsm-job-form {
            .awsm-job-form-inner {
                padding: 35px 30px;
                color: $white;
                background-color: $brand-color;
                border: none;
            }

            h2 {
                margin-bottom: 15px;
                font-size: 24px;
            }

            label,
            label span,
            .awsm-job-form-group,
            .awsm-job-form-group small {
                color: $white;
            }

            .awsm-job-form-group label {
                margin-bottom: 5px;
            }

            .awsm-job-form-field {
                font-size: 14px;
            }

            .awsm-job-form-group input + small {
                display: block;
                margin-top: 10px;
                font-size: 14px;
                font-style: italic;
            }

            .awsm-job-inline-group {
                label, input {
                    cursor: pointer;
                }

                #awsm_form_privacy_policy-error.awsm-job-form-error {
                    padding: 5px 10px;
                    margin-top: 5px;
                    font-size: 14px;
                    color: $white;
                    background-color: $red-error;
                }
            }

            .awsm-job-form-group:last-child {
                margin-bottom: 0;
            }

            .awsm-application-submit-btn {
                @extend .button-orange;

                padding: 10px 35px;
                font-size: 16px;
                border: 2px solid $secondary-color;
            }

            #awsm-applicant-name,
            #awsm-applicant-email,
            #awsm-applicant-phone,
            #awsm-cover-letter {
                width: 100%;
                padding: 10px;
                font-family: $font-kumbhsans-medium;
                font-size: 16px;
                // color: $brand-color;
                color: $secondary-color;
                border: 2px solid $light-grey;
                border-radius: 0;
                outline: none;
                appearance: none;
                resize: none;
                transition: .25s ease-in-out all;

                &:focus {
                    border-color: $secondary-color;
                }
            }

            #awsm-application-file.awsm-job-form-error {
                color: $white;
                background-color: $red-error;
                border: none;
            }

            #awsm-application-file {
                cursor: pointer;
            }

            .awsm-job-form-field + .awsm-job-form-error,
            .awsm-job-form-field + small + .awsm-job-form-error {
                padding: 5px 10px;
                font-size: 14px;
                color: $white;
                background-color: $red-error;
            }

            .awsm-job-form-field + small + .awsm-job-form-error {
                margin-top: 5px;
            }

            .awsm-application-message {
                padding: 20px;
                margin-top: 20px;
                color: $white;
                border-width: 2px;
                border-style: solid;

                &.awsm-success-message {
                    border-color: $green-success;
                }

                * {
                    font-size: 16px;
                    color: $white;
                    text-align: center;
                }
            }
        }

        .the-content {
            h1 + *,
            h2 + *,
            h3 + *,
            h4 + *,
            h5 + *,
            h6 + *,
            p + *,
            ul + *,
            ol + * {
                padding-top: 10px;
            }

            ul, ol {
                padding-left: 30px; 
            }
        }
    }

    @media (max-width: 991px) {
        .page-content {
            padding: 50px 20px 0;

            .awsm-col-2 {
                .awsm-job-content {
                    width: 100%;
                }

                .awsm-job-form {
                    width: calc(100% + 80px);
                    margin-top: 20px;
                    margin-left: -40px;
                }
            }

            .awsm-job-form {
                .awsm-job-form-inner {
                    padding: 50px 40px;
                }

                h2 {
                    font-size: 20px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        .page-content {
            padding: 40px 10px 0;

            .awsm-col-2 {
                .awsm-job-form {
                    width: calc(100% + 50px);
                    margin-left: -25px;
                }
            }

            .awsm-job-form {
                .awsm-job-form-inner {
                    padding: 50px 25px;
                }

                #awsm-applicant-email,
                #awsm-applicant-name,
                #awsm-applicant-phone,
                #awsm-cover-letter {
                    font-size: 14px;
                }

                .awsm-application-submit-btn {
                    padding: 8px 28px;
                    font-size: 14px;
                }

                .awsm-job-form-field + .awsm-job-form-error, 
                .awsm-job-form-field + small + .awsm-job-form-error,
                .awsm-job-inline-group #awsm_form_privacy_policy-error.awsm-job-form-error {
                    font-size: 12px;
                }
                
                .awsm-application-message {
                    * {
                        font-size: 14px;
                    }
                }
            }
           
            .the-content {
                padding-top: 25px;

                p, ul, ol, li, span, div {
                    font-size: 14px;
                }
            }
        }
    }
}