//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the slider component.
// -----------------------------------------------------------------------------

.slider {
    height: auto;
    background-color: $white;

    .slick-slider.slick-dotted {
        margin-bottom: 0;
    }

    .slick-dots {
        li {
            width: auto;
            height: auto;
        }

        .slick-active button {
            background-color: $secondary-color;
        }

        button {
            width: 12px;
            height: 12px;
            background-color: $brand-color;
            border-radius: 50%;
            transition: .3s ease-in-out all;

            &::before {
                content: "";
                display: none;
            }
        }
    }

    &.bg-purple {
        background-color: $brand-color;

        .slick-dots {
            button {
                background-color: $white;
            }
            .slick-active button {
                background-color: $secondary-color;
            }
        }

        .product-link:hover .product-name {
            color: $secondary-color;
        }

        .product-name {
            color: $white;
        }
    }

    &.bg-orange {
        background-color: $secondary-color;

        .section-heading b,
        .section-heading strong {
            color: $brand-color;
        }

        .product-link:hover .product-name {
            color: $white;
        }

        .product-name {
            color: $brand-color;
        }

        .slick-dots {
            button {
                background-color: $white;
            }
            .slick-active button {
                background-color: $brand-color;
            }
        }
    }

    &.bg-grey {
        background-color: $light-grey;

        .product-link:hover .product-name {
            color: $secondary-color;
        }

        .product-name {
            color: $brand-color;
        }
    }

    &.bg-white {
        background-color: $white;

        .product-link:hover .product-name {
            color: $secondary-color;
        }

        .product-name {
            color: $brand-color;
        }
    }
}

.slider-banner-home {
    .slick-dots {
        position: absolute;
        bottom: 20px;
        right: 0;
        left: 0;
        width: fit-content;
        margin: auto;
    }

    .slide-item-wrapper {
        position: relative;
        // height: calc(100vh - 120px);
        // min-height: 550px;
        overflow: hidden;
    }

    .slider-image {
        width: 100%;
        height: 70vh;
        min-height: 550px;
        object-fit: cover;
        object-position: center;
    }

    .slider-image-mobile {
        display: none;
    }

    .banner-heading {
        position: absolute;
        top: 0;
        bottom: 0;
        // left: 59%;
        // left: 62%;
        // width: calc(41% - 20px);
        // width: 38%;
        left: auto;
        right: 0;
        display: flex;
        align-items: center;
        width: 550px;
        height: fit-content;
        padding-right: 50px;
        margin: auto;
    }

    .heading-bg {
        display: none;
    }

    .heading {
        font-family: $font-kumbhsans-black;
        // font-size: 4.5vw;
        // font-size: 2.3vw;
        font-size: 36px;
        line-height: 1.2;
        color: $white;
        text-transform: uppercase;
        text-shadow: 0 5px 20px rgba(0,0,0,.5);
    }

    .video {
        // video should be 1920px x 840px
        position: relative;
        // height: calc(100vh - 120px);
        // height: 100%;
        height: 70vh;
        min-height: 550px;
        background-color: $black;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.slider-ethos {
    .slick-dots {
        bottom: 10px;

        .slick-active button {
            background-color: $brand-color;
            border: 2px solid $secondary-color;
            opacity: 1;
        }

        button {
            background-color: $white;
            border: 2px solid $white;
            opacity: .3;
        }
    }
}

.slider-team {
    padding-bottom: 40px;

    .slick-dots {
        bottom: 0;
    }

    .slick-slide {
        &:nth-child(3n + 1) {
            .image-holder {
                img {
                    -webkit-mask-image: url(../assets/images/blob-2.png);
                    mask-image: url(../assets/images/blob-2.png);
                    mask-size: 100% 100%;
                }
            }
        }
        
        &:nth-child(3n + 2) {
            .image-holder {
                img {
                    -webkit-mask-image: url(../assets/images/blob-3.png);
                    mask-image: url(../assets/images/blob-3.png);
                    mask-size: 100% 100%;
                }
            }
        }

        &:nth-child(3n + 3) {
            .image-holder {
                img {
                    -webkit-mask-image: url(../assets/images/blob-1.png);
                    mask-image: url(../assets/images/blob-1.png);
                    mask-size: 100% 100%;
                }
            }
        }
    }

    .slider-image {
        max-width: 270px;
        max-height: 270px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-holder {
        text-align: center;
    }

    .name {
        margin-top: 10px;
        font-family: $font-kumbhsans-medium;
        font-size: 22px;
        color: $brand-color;
    }

    .position {
        margin: 0;
        font-size: 16px;
        color: $brand-color;
    }
}

.slider-brand-products {
    padding-bottom: 40px;
    margin-left: -20px;
    margin-right: -20px;

    .slide-item {
        padding: 20px 30px;
    }

    .product-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;

        &:hover {
            .product-name {
                color: $secondary-color;
            }
        }
    }

    .image-holder {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 200px;
        height: 200px;
    }
    
    .product-image {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }

    .product-name {
        margin-top: 15px;
        font-family: $font-kumbhsans-medium;
        font-size: 16px;
        color: $brand-color;
        transition: .2s ease-in-out all;
    }

    .slick-dots {
        bottom: 0;
    }
}

.slider-brand-logos {
    margin-left: -20px;
    margin-right: -20px;

    .slide-item {
        padding: 20px 30px;
    }

    .logo-holder {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
    }

    .logo {
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
    }
}

.slider-testimonials {
    border-top: 1px solid $brand-color;
    border-bottom: 1px solid $brand-color;

    .testimonial {
        padding: 80px 0 70px;
        border-top: 1px solid $brand-color;
        border-bottom: 1px solid $brand-color;

        &:nth-child(3n + 1) {
            color: $brand-color;
            background-color: $light-grey;

            .wrapper-image {
                .blob {
                    background-image: url(../assets/images/blob-testimonial-1.png);
                }
            }
        }

        &:nth-child(3n + 2) {
            color: $white;
            background-color: $brand-color;

            .wrapper-image {
                .blob {
                    background-image: url(../assets/images/blob-testimonial-2.png);
                    filter: brightness(0) invert(1);
                }
            }

            .wrapper-text {
                .quote-text {
                    color: $white;

                    > *:first-child::before,
                    > *:last-child::after {
                        filter: brightness(0) invert(1);
                    }
                }

                .quote-details span:first-child::before {
                    background-color: $white;
                }
            }
        }

        &:nth-child(3n + 3) {
            color: $brand-color;
            background-color: $white;

            .wrapper-image {
                .blob {
                    background-image: url(../assets/images/blob-testimonial-3.png);
                }
            }
        }

        &:nth-child(even) {
            .wrapper-image {
                order: 2;
            }

            .wrapper-text {
                order: 1;
                padding-left: 0;
                padding-right: 50px;
            }
        }

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
    
        .wrapper-text {
            width: 60%;
            padding-left: 50px;
    
            .quote-text {
                position: relative;
                font-family: $font-kumbhsans-medium;
                color: $brand-color;

                > *:first-child::before {
                    content: "";
                    position: relative;
                    top: -5px;
                    left: 0;
                    display: inline-block;
                    width: 30px;
                    height: 25px;
                    margin-right: 15px;
                    background: url(../assets/images/icon-quotes.png) no-repeat center;
                    background-size: contain;
                }

                > *:last-child::after {
                    content: "";
                    position: relative;
                    bottom: -5px;
                    right: 0;
                    display: inline-block;
                    width: 30px;
                    height: 25px;
                    margin-left: 15px;
                    background: url(../assets/images/icon-quotes.png) no-repeat center;
                    background-size: contain;
                    transform: scaleX(-1);
                }

                // p:first-child {
                //     text-indent: 60px;
                // }
    
                p, li {
                    font-size: 18px;
                    line-height: 1.6;
                }
    
                p + p {
                    margin-top: 10px;
                }
    
                a {
                    color: $secondary-color;
                }
            }

            .quote-details {
                display: block;
                padding-top: 15px;
                font-family: $font-kumbhsans-black;
                font-size: 20px;

                .details {
                    display: inline-block;
                }

                span {
                    position: relative;

                    &:first-child {
                        padding-left: 35px;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 1px;
                            left: 0;
                            bottom: 0;
                            width: 20px;
                            height: 4px;
                            margin: auto;
                            background-color: $brand-color;
                        }
                    }

                    &:not(:last-child) {
                        &::after {
                            content: ",";
                            position: relative;
                            right: 0;
                        }
                    }
                }
            }
        }
    
        .wrapper-image {
            width: 40%;
    
            .image-holder {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .blob {
                content: "";
                position: absolute;
                bottom: -5%;
                left: 0;
                right: 0;
                z-index: 1;
                // width: 80%;
                width: 90%;
                height: 100%;
                margin: auto;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
    
            img {
                position: relative;
                z-index: 2;
                width: auto;
                max-width: 100%;
                height: auto;
                max-height: 100%;
            }
        }
    }

    .testimonial-v2 {
        &:nth-child(3n + 1) {
            .wrapper-image {
                img {
                    -webkit-mask-image: url(../assets/images/blob-1.png);
                    mask-image: url(../assets/images/blob-1.png);
                    mask-size: 100% 100%;
                }

                .blob {
                    display: none;
                }
            }
        }

        &:nth-child(3n + 2) {
            .wrapper-image {
                img {
                    -webkit-mask-image: url(../assets/images/blob-2.png);
                    mask-image: url(../assets/images/blob-2.png);
                    mask-size: 100% 100%;
                }
                
                .blob {
                    display: none;
                }
            }
        }

        &:nth-child(3n + 3) {
            .wrapper-image {
                img {
                    -webkit-mask-image: url(../assets/images/blob-3.png);
                    mask-image: url(../assets/images/blob-3.png);
                    mask-size: 100% 100%;
                }
                
                .blob {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 1399px) {
    .slider-banner-home {
        .slider-image-desktop {
            height: 47vw;
            min-height: 300px;
        }

        .slider-image {
            object-position: right;
        }
    }

    .slider-team {
        .slider-image {
            max-width: 220px;
            max-height: 220px;
        }

        .name {
            font-size: 20px;
        }

        .position {
            font-size: 15px;
        }
    }

    .slider-brand-products {
        .image-holder {
            width: 170px;
            height: 170px;
        }
    }

    .slider-brand-logos {
        .logo-holder {
            height: 100px;
        }
    }
}

@media (max-width: 1199px) {
    .slider {
        .slick-dots button {
            width: 10px;
            height: 10px;
        }
    }

    .slider-banner-home {
        .banner-heading {
            width: 480px;
            padding-right: 30px;
        }

        .heading {
            font-size: 32px;
        }
    }

    .slider-team {
        .slider-image {
            max-width: 180px;
            max-height: 180px;
        }

        .name {
            font-size: 18px;
        }

        .position {
            margin-top: 2px;
            font-size: 14px;
        }
    }

    .slider-brand-products {
        margin-left: -10px;
        margin-right: -10px;

        .slide-item {
            padding: 15px 20px;
        }

        .image-holder {
            width: 150px;
            height: 150px;
        }
    }

    .slider-brand-logos {
        margin-left: -10px;
        margin-right: -10px;

        .slide-item {
            padding: 15px 20px;
        }

        .logo {
            max-width: 120px;
        }
    }

    .slider-testimonials {
        .testimonial {
            .wrapper-image {
                width: 35%;
            }

            .wrapper-text {
                width: 65%;
            }
        }
    }
}

@media (max-width: 991px) {
    .slider-banner-home {
        .slider-image,
        .video {
            height: 55vh;
            min-height: 450px;
        }

        .banner-heading {
            width: 370px
        }
    }

    .slider-brand-products {
        padding-bottom: 30px;

        .image-holder {
            width: 120px;
            height: 120px;
        }

        .product-name {
            font-size: 15px;
        }
    }

    .slider-brand-logos {
        .logo-holder {
            height: 80px;
        }

        .logo {
            max-width: 100px;
        }
    }

    .slider-testimonials {
        .wrapper {
            padding: 0 20px;
        }

        .testimonial {
            &:nth-child(3n+2) {
                .wrapper-text {
                    padding-left: 30px;
                }
            }

            .wrapper-text {
                padding-left: 30px;

                .quote-text {
                    > *:first-child::before {
                        top: -3px;
                        width: 25px;
                        height: 20px;
                        margin-right: 12px;
                    }

                    > *:last-child::after {
                        bottom: -3px;
                        width: 25px;
                        height: 20px;
                        margin-left: 12px;
                    }
                    
                    p {
                        font-size: 16px;

                        // &:first-child {
                        //     text-indent: 50px;
                        // }
                    }
                }

                .quote-details {
                    font-size: 18px;

                    span {
                        &:first-child {
                            padding-left: 30px;

                            &::before {
                                top: 2px;
                                width: 18px;
                                height: 3px;
                            }
                        }
                    }
                }
            }
            
            &:nth-child(even) {
                .wrapper-text {
                    padding-left: 0;
                    padding-right: 30px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slider-news.slider-items {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media (min-width: 768px) {
    .slider-news {
        display: flex;
        flex-wrap: wrap;

        &.slider-items {
            padding: 30px 0;

            .slider-item {
                width: 33.33%;
        
                .item {
                    width: 100%;
                }
            }
        }
    }

    .slider-locations {
        display: flex;
        flex-wrap: wrap;

        &.slider-items {
            padding: 30px 0 0;
            margin-left: -10px;
            margin-right: -10px;

            .slider-item {
                width: 33.33%;
        
                .item {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .slider {
        .slick-dots button {
            width: 8px;
            height: 8px;
        }
    }

    .slider-banner-home {
        // .slide-item-wrapper {
        //     height: calc(100vh - 90px);
        //     min-height: 250px;
        // }

        // .slider-image {
        //     object-position: 20%;
        // }

        .banner-heading {
            width: 100%;
            height: 100%;
        }

        .slider-image {
            width: 100%;
            height: 100%;
            min-height: 260px;
            max-height: 320px;        
        }

        .slider-image-desktop {
            display: none;
        }

        .slider-image-mobile {
            display: block;
        }

        // .banner-heading {
        //     left: 0;
        //     width: 100%;
        //     height: 105%;
        //     padding: 30px;
        // }

        .heading {
            position: relative;
            z-index: 2;
            padding: 30px;
            font-size: 24px;
        }

        .heading-bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            // background: $brand-color;
            background: $black;
            opacity: .5;
        }

        .slick-dots {
            .slick-active button {
                background-color: $secondary-color;
                opacity: 1;
            }
            
            button {
                background-color: $white;
                opacity: .3;
            }
        }
    }

    .slider-team {
        .name {
            font-family: $font-kumbhsans-bold;
        }
    }

    .slider-ethos {
        .slick-dots button {
            padding: 3px;
        }
    }

    .slider.latest-news {
        padding-bottom: 30px;

        .container {
            overflow: hidden;
        }

        .custom-slider-wrapper {
            // position: relative;
            // width: 360px;
            padding: 20px 0;
            margin-left: auto;
            margin-right: auto;
        }

        .slider-news {
            padding-bottom: 25px;
            margin-bottom: 10px;
        }

        .slick-dots {
            bottom: 0;
        }

        .item {
            margin-left: auto;
            margin-right: auto;
        }

        .item-link:hover {
            top: 0;
            box-shadow: none;
        }

        // .slick-arrow {
        //     position: absolute;
        //     z-index: 2;
        //     display: block;
        //     width: 40px;
        //     height: 40px;
        //     background: red;
        // }

        // .slick-prev {
        //     left: -60px;
        // }

        // .slick-prev {
        //     right: -60px;
        // }
    }

    .slider.locations {
        padding-bottom: 30px;

        .container {
            overflow: hidden;
        }

        .custom-slider-wrapper {
            // position: relative;
            // width: 360px;
            padding: 20px 0;
            margin-left: auto;
            margin-right: auto;
        }

        .slider-locations {
            padding-bottom: 25px;
            margin-bottom: 10px;
        }

        .slick-dots {
            bottom: 0;
        }

        .item {
            margin-left: auto;
            margin-right: auto;
        }

        .item-link:hover {
            top: 0;
            box-shadow: none;
        }

        // .slick-arrow {
        //     position: absolute;
        //     z-index: 2;
        //     display: block;
        //     width: 40px;
        //     height: 40px;
        //     background: red;
        // }

        // .slick-prev {
        //     left: -60px;
        // }

        // .slick-prev {
        //     right: -60px;
        // }
    }

    .slider-brand-products {
        padding-bottom: 20px;
        margin-left: 0;
        margin-right: 0;

        .slide-item {
            padding: 5px 10px;
        }

        .image-holder {
            width: 100px;
            height: 100px;
        }

        .product-name {
            font-size: 14px;
        }
    }

    .slider-brand-logos {
        margin-left: 0;
        margin-right: 0;

        // .logo-holder {
        //     height: 70px;
        // }

        // .logo {
        //     max-width: 90px;
        // }
    }

    .slider-testimonials {
        border-width: 2px;

        .testimonial {
            padding: 50px 0;
            border: none;

            .wrapper {
                flex-direction: column;
            }

            .wrapper-image {
                width: 80%;
                max-width: 300px;
                max-height: 300px;

                img {
                    width: 80%;
                    max-width: 300px;
                    max-height: 300px;
                }
            }

            .wrapper-text {
                width: 100%;
                padding: 50px 5px 0;

                .quote-text {
                    > *:first-child::before {
                        top: -2px;
                        width: 18px;
                        height: 12px;
                        margin-right: 8px;
                    }

                    > *:last-child::after {
                        bottom: -2px;
                        width: 18px;
                        height: 12px;
                        margin-left: 8px;
                    }

                    p {
                        font-size: 14px;
                        
                        // &:first-child {
                        //     text-indent: 40px;
                        // }
                    }
                }

                .quote-details {
                    .details {
                        display: flex;
                        flex-wrap: wrap;
                        padding-top: 10px;
                    }

                    span {
                        &:first-child {
                            width: 100%;
                            // padding-left: 22px;
                            padding-left: 0;
                            padding-bottom: 3px;

                            &::before {
                                // width: 12px;
                                display: none;
                            }
                        }

                        &:not(:first-child) {
                            font-family: $font-kumbhsans-bold;
                            font-size: 14px;
                        }

                        &:first-child::after {
                            display: none;
                        }
                    }

                    .department + .location {
                        padding-left: 3px;
                    }
                }
            }
        }

        .slick-slide {
            &:nth-child(3n + 1) {
                .testimonial-v2 {
                    .wrapper-image {
                        img {
                            -webkit-mask-image: url(../assets/images/blob-1.png);
                            mask-image: url(../assets/images/blob-1.png);
                            mask-size: 100% 100%;
                        }
                    }
                }
            }

            &:nth-child(3n + 2) {
                .testimonial-v2 {
                    .wrapper-image {
                        img {
                            -webkit-mask-image: url(../assets/images/blob-2.png);
                            mask-image: url(../assets/images/blob-2.png);
                            mask-size: 100% 100%;
                        }
                    }
                }
            }

            &:nth-child(3n + 3) {
                .testimonial-v2 {
                    .wrapper-image {
                        img {
                            -webkit-mask-image: url(../assets/images/blob-3.png);
                            mask-image: url(../assets/images/blob-3.png);
                            mask-size: 100% 100%;
                        }
                    }
                }
            }
        }

        .slick-arrow {
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 30px;
            padding-top: 2px;
            background-color: $brand-color;
            border-radius: 0;

            &::before {
                position: relative;
                z-index: 2;
                font-size: 20px;
                color: $brand-color;
                opacity: 1;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 1;
                width: calc(100% - 10px);
                height: calc(100% - 15px);
                margin: auto;
                background-color: $white;
                border-radius: 50px;
            }
        }

        .slick-next {
            right: 0;

            &::before {
                margin-right: -2px;
            }

            &::after {
                left: 0;
                right: -2px;
            }
        }

        .slick-prev {
            left: 0;

            &::before {
                margin-left: -2px;
            }

            &::after {
                left: -2px;
                right: 0;
            }
        }
    }
}

@media (max-width: 575px) {
    .slider-banner-home {
        .slider-image {
            min-height: 240px;
            max-height: 240px;
        }

        .banner-heading {
            padding: 15px;
        }
    }

    .slider-team {
        // .slider-image {
        //     max-width: 130px;
        //     max-height: 130px;
        // }

        .name {
            font-size: 16px;
            line-height: 1.2;
        }

        .position {
            font-size: 12px;
            line-height: 1.2;
        }
    }
}