//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the slider component.
// -----------------------------------------------------------------------------

.slider {
    height: auto;
    background-color: $white;

    .slick-slider.slick-dotted {
        margin-bottom: 0;
    }

    .slick-dots {
        li {
            width: auto;
            height: auto;
        }

        .slick-active button {
            background-color: $secondary-color;
        }

        button {
            width: 12px;
            height: 12px;
            background-color: $brand-color;
            border-radius: 50%;
            transition: .3s ease-in-out all;

            &::before {
                content: "";
                display: none;
            }
        }
    }
}

.slider-banner-home {
    .slick-dots {
        position: absolute;
        bottom: 20px;
        right: 0;
        left: 0;
        width: fit-content;
        margin: auto;
    }

    .slide-item-wrapper {
        position: relative;
        // height: calc(100vh - 120px);
        // min-height: 550px;
        overflow: hidden;
    }

    .slider-image {
        width: 100%;
        height: 70vh;
        min-height: 550px;
        object-fit: cover;
        object-position: center;
    }

    .slider-image-mobile {
        display: none;
    }

    .banner-heading {
        position: absolute;
        top: 0;
        bottom: 0;
        // left: 59%;
        // left: 62%;
        // width: calc(41% - 20px);
        // width: 38%;
        left: auto;
        right: 0;
        display: flex;
        align-items: center;
        width: 550px;
        height: fit-content;
        padding-right: 50px;
        margin: auto;
    }

    .heading-bg {
        display: none;
    }

    .heading {
        font-family: $font-kumbhsans-black;
        // font-size: 4.5vw;
        // font-size: 2.3vw;
        font-size: 36px;
        line-height: 1.2;
        color: $white;
        text-transform: uppercase;
        text-shadow: 0 5px 20px rgba(0,0,0,.5);
    }

    .video {
        // video should be 1920px x 840px
        position: relative;
        // height: calc(100vh - 120px);
        // height: 100%;
        height: 70vh;
        min-height: 550px;
        background-color: $black;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.slider-ethos {
    .slick-dots {
        bottom: 10px;

        .slick-active button {
            background-color: $brand-color;
            border: 2px solid $secondary-color;
            opacity: 1;
        }

        button {
            background-color: $white;
            border: 2px solid $white;
            opacity: .3;
        }
    }
}

.slider-team {
    padding-bottom: 40px;

    .slick-dots {
        bottom: 0;
    }

    .slider-image {
        max-width: 270px;
        max-height: 270px;
        margin-left: auto;
        margin-right: auto;
    }

    .text-holder {
        text-align: center;
    }

    .name {
        margin-top: 10px;
        font-family: $font-kumbhsans-medium;
        font-size: 22px;
        color: $brand-color;
    }

    .position {
        margin: 0;
        font-size: 16px;
        color: $brand-color;
    }
}

@media (max-width: 1399px) {
    .slider-team {
        .slider-image {
            max-width: 220px;
            max-height: 220px;
        }

        .name {
            font-size: 20px;
        }

        .position {
            font-size: 15px;
        }
    }
}

@media (max-width: 1199px) {
    .slider {
        .slick-dots button {
            width: 10px;
            height: 10px;
        }
    }

    .slider-banner-home {
        .banner-heading {
            width: 480px;
            padding-right: 30px;
        }

        .heading {
            font-size: 32px;
        }
    }

    .slider-team {
        .slider-image {
            max-width: 180px;
            max-height: 180px;
        }

        .name {
            font-size: 18px;
        }

        .position {
            margin-top: 2px;
            font-size: 14px;
        }
    }
}

@media (max-width: 991px) {
    .slider-banner-home {
        .slider-image,
        .video {
            height: 55vh;
            min-height: 450px;
        }

        .banner-heading {
            width: 370px
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .slider-news.slider-items {
        margin-left: -10px;
        margin-right: -10px;
    }
}

@media (min-width: 768px) {
    .slider-news {
        display: flex;
        flex-wrap: wrap;

        &.slider-items {
            padding: 30px 0;

            .slider-item {
                width: 33.33%;
        
                .item {
                    width: 100%;
                }
            }
        }
    }

    .slider-locations {
        display: flex;
        flex-wrap: wrap;

        &.slider-items {
            padding: 30px 0 0;
            margin-left: -10px;
            margin-right: -10px;

            .slider-item {
                width: 33.33%;
        
                .item {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .slider {
        .slick-dots button {
            width: 8px;
            height: 8px;
        }
    }

    .slider-banner-home {
        // .slide-item-wrapper {
        //     height: calc(100vh - 90px);
        //     min-height: 250px;
        // }

        // .slider-image {
        //     object-position: 20%;
        // }

        .banner-heading {
            width: 100%;
            height: 100%;
        }

        .slider-image {
            width: 100%;
            height: 100%;
            min-height: 260px;
            max-height: 320px;        
        }

        .slider-image-desktop {
            display: none;
        }

        .slider-image-mobile {
            display: block;
        }

        // .banner-heading {
        //     left: 0;
        //     width: 100%;
        //     height: 105%;
        //     padding: 30px;
        // }

        .heading {
            position: relative;
            z-index: 2;
            padding: 30px;
            font-size: 24px;
        }

        .heading-bg {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            // background: $brand-color;
            background: $black;
            opacity: .5;
        }

        .slick-dots {
            .slick-active button {
                background-color: $secondary-color;
                opacity: 1;
            }
            
            button {
                background-color: $white;
                opacity: .3;
            }
        }
    }

    .slider-ethos {
        .slick-dots button {
            padding: 3px;
        }
    }

    .slider.latest-news {
        padding-bottom: 30px;

        .container {
            overflow: hidden;
        }

        .custom-slider-wrapper {
            // position: relative;
            // width: 360px;
            padding: 20px 0;
            margin-left: auto;
            margin-right: auto;
        }

        .slider-news {
            padding-bottom: 25px;
            margin-bottom: 10px;
        }

        .slick-dots {
            bottom: 0;
        }

        .item {
            margin-left: auto;
            margin-right: auto;
        }

        .item-link:hover {
            top: 0;
            box-shadow: none;
        }

        // .slick-arrow {
        //     position: absolute;
        //     z-index: 2;
        //     display: block;
        //     width: 40px;
        //     height: 40px;
        //     background: red;
        // }

        // .slick-prev {
        //     left: -60px;
        // }

        // .slick-prev {
        //     right: -60px;
        // }
    }

    .slider.locations {
        padding-bottom: 30px;

        .container {
            overflow: hidden;
        }

        .custom-slider-wrapper {
            // position: relative;
            // width: 360px;
            padding: 20px 0;
            margin-left: auto;
            margin-right: auto;
        }

        .slider-locations {
            padding-bottom: 25px;
            margin-bottom: 10px;
        }

        .slick-dots {
            bottom: 0;
        }

        .item {
            margin-left: auto;
            margin-right: auto;
        }

        .item-link:hover {
            top: 0;
            box-shadow: none;
        }

        // .slick-arrow {
        //     position: absolute;
        //     z-index: 2;
        //     display: block;
        //     width: 40px;
        //     height: 40px;
        //     background: red;
        // }

        // .slick-prev {
        //     left: -60px;
        // }

        // .slick-prev {
        //     right: -60px;
        // }
    }
}

@media (max-width: 575px) {
    .slider-banner-home {
        .slider-image {
            min-height: 240px;
            max-height: 240px;
        }

        .banner-heading {
            padding: 15px;
        }
    }

    .slider-team {
        .slider-image {
            max-width: 120px;
            max-height: 120px;
        }

        .name {
            font-size: 16px;
            line-height: 1.2;
        }

        .position {
            font-size: 12px;
            line-height: 1.2;
        }
    }
}