//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains all styles related to the slider component.
// -----------------------------------------------------------------------------

.slider {
    height: auto;
    background-color: $white;

    .slide-item-wrapper {
        position: relative;
    }

    .slider-image {
        max-width: 100%;
    }

    .banner-heading {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 59%;
        display: flex;
        align-items: center;
        width: calc(41% - 20px);
        margin: auto;
    }

    .heading {
        font-family: $font-kumbhsans-black;
        font-size: 4.5vw;
        line-height: 1.2;
        color: $white;
        text-transform: uppercase;
        text-shadow: 0 5px 20px rgba(0,0,0,.5);
    }

    .video {
        // video should be 1920px x  840px
        position: relative;
        height: calc(100vh - 120px);

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}