@charset 'UTF-8';

// 1. Configuration and helpers
@import
    'utils/variables',
    'utils/functions',
    'utils/mixins';

// 2. Vendors
@import
    'vendors/slick.min.css',
    'vendors/slick-theme.min.css',
    'vendors/bootstrap.min.css';

// 3. Base stuff
@import
    'base/reset',
    'base/base',
    'base/fonts',
    'base/typography';

// 4. Components
@import
    'components/buttons',
    'components/slider',
    'components/contact-form';

// 5. Layout-related sections
@import
    'layout/top-navigation',
    'layout/footer',
    'layout/hero',
    'layout/join',
    'layout/latest-news',
    'layout/banners',
    'layout/statistics',
    'layout/locations',
    'layout/alternate',
    'layout/product-slider',
    'layout/social-section',
    'layout/brand-logos',
    'layout/section-squares';

// 6. Page-specific styles
@import
    'pages/home',
    'pages/brands',
    'pages/single-brand',
    'pages/news',
    'pages/people',
    'pages/error',
    'pages/single',
    'pages/page',
    'pages/about',
    'pages/contact',
    'pages/cookie',
    'pages/join-our-pack',
    'pages/single-job';